* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    width: 100%;
}

.main {
    height: 350px;
    padding: 10px;
    margin: 20px;
    /* border: 2px solid rgb(87, 232, 80); */
}

.left {
    /* height: 100%; */
    background-image: url("./img/OIP.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.right {
    height: 100%;
}

.griting {
    text-align: center;
    margin-top: 10px;
}


.ridirect {
    text-align: center;
    font-size: small;
}

@media only screen and (max-width: 600px) {
    .left {
        display: none;
    }
}